.body {
    margin: 0%;
}

#background {
    background-image: url(foodfood.jpeg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0px;
    border: 0px; 
    position: relative;    
    z-index: 2;
    background-attachment: fixed;
}

*{
    text-decoration: none;
    font-family: fantasy;
}


#container {
    background-color: rgba(0, 0, 0, 0.659);
    width: 25vw;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#upperow {
    display: flex;
    order: 2;
    align-items:flex-start;
    justify-content:space-evenly;
    width: 75vw;
    height: 5vh;
    font-family: fantasy;
    font-size: x-large;
    position: fixed;
    margin-left: 25vw;
    z-index: 2;
    padding-right: 4vw;
    }

#home1 {
    transition: ease-in-out;
    transition-duration: 500ms;
    margin-right: 5px;
    
}

#home1:hover {
    padding: 15px;
}

#menu1 {
    transition: ease-in-out;
    transition-duration: 500ms;
    margin-right: 5px;
}

#menu1:hover{
    padding: 15px;
}

#faq1 {
    transition: ease-in-out;
    transition-duration: 500ms;
    margin-right: 5px;
}

#faq1:hover {
    padding: 15px;
}

#contact1 {
    transition: ease-in-out;
    transition-duration: 500ms;
    margin-right: 5px;
}

#contact1:hover {
    padding: 15px;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:active{
    color: white;
}
.rowcolor {
    background-color:rgb(23, 174, 156) ;
    border-radius: 5px;
}


.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
    height: 300px;
    max-width: auto;
    overflow-y: hidden;
    overflow-x:auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.column:hover{
    visibility: visible;
    opacity: 1;   
}

.column:hover .gluten {
    visibility: visible;
    opacity: 1;
  }

@media screen and (max-width: 500px) {
 
    .column {
      width: 100vw;
    }
}   
   
.menuimgs {
    background-color: rgb(23, 174, 156);
    padding: 0px;
    margin: 0%;
    border: 0px; 
    height: 100%;
}
  
#faq{
    width: 100vw;
    height: 100vh;
    background-color:gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#contact{
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 174, 156);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.gluten {
    position: absolute;
    align-items: center;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}
    

#backtotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
    background-color: rgb(23, 174, 156);
    z-index: 1;
    transition: ease-in-out;
    transition-duration: 500ms;
    
}

#backtotop:hover {
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    #container {
        width: 100vw;
    }
    #upperow {
        right: 11%;
    }
    .row {
        display: block;
    }
    .menu-img {
        width: 90vw !important;
    }
    /* font-size:small ; */
}

@media only screen and (max-width: 1000px) and (min-width: 400px)  {
    .column {
        height: 200px;
    }
}

#karpacio {
    transition: ease-in-out;
    transition-duration: 500ms;
} 
#karpacio:hover {
    padding: 15px;
}

#salad {
    transition: ease-in-out;
    transition-duration: 500ms;
}
#salad:hover {
    padding: 15px;
}

#potatos {
    transition: ease-in-out;
    transition-duration: 500ms;
}
#potatos:hover {
    padding: 15px;
}

#fish {
    transition: ease-in-out;
    transition-duration: 500ms;
    
}
#fish:hover {
    padding: 15px;
}

#steak {
    transition: ease-in-out;
    transition-duration: 500ms;
}
#steak:hover {
    padding: 15px;
}

#burger {
    transition: ease-in-out;
    transition-duration: 500ms;
}
#burger:hover {
    padding: 15px;
}

#cheesecake {
    transition: ease-in-out;
    transition-duration: 500ms;
}
#cheesecake:hover {
    padding: 15px;    
}

#chocolatecake {
    transition: ease-in-out;
    transition-duration: 500ms;
}
#chocolatecake:hover {
    padding: 15px;
}

#icecream {
    transition: ease-in-out;
    transition-duration: 500ms;
}
#icecream:hover {
    padding: 15px;
}

